---
layout: default
title: Stories
permalink: /stories/
---

{% assign current_lang = page.lang | default: page.locale | default: site.lang | default: 'en-US' %}
{% assign copy = site.data.i18n_copy.list_pages[current_lang] %}
{% assign stories = site.stories | sort: "date" | reverse %}

{% if stories.size > 0 %}
<ul aria-label="stories" class="terminal">
{% for story in stories %}
  <li class="line"><a href="{{ story.url }}"
     data-umami-event="story_click"
     data-umami-event-location="stories_list"
     data-umami-event-title="{{ story.title | escape }}">{{ story.title }}</a><br>
    <time class="monospace" datetime="{{ story.date | date_to_xmlschema }}">{{ story.date | date: "%b %e, %Y" }}</time></li>
{% endfor %}
</ul>
{% else %}
  <p><em style="opacity: 0.65;">{{ copy.stories_empty }}</em></p>
{% endif %}
