<!doctype html>
<html lang="{% if page.path contains 'zh-TW' %}zh-TW{% elsif page.path contains 'de-DE' %}de-DE{% else %}en{% endif %}">
  {% assign story_description = page.caption | default: page.content | strip_html | strip_newlines | truncate: 160 %}
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="me" href="https://micro.blog/muan">
    <link rel="alternate" type="application/rss+xml" href="/notes.xml">
    <link rel="author" type="text/plain" href="/humans.txt">
    <link rel="shortcut icon" href="/favicon.ico?v1" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.svg?v1" type="image/svg+xml">
    <link rel="icon" href="/assets/favicon-32x32.png" type="image/png" sizes="32x32">
    <link href="/assets/new.css" rel="stylesheet" type="text/css">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    <meta content="article" property="og:type">
    <meta content="{{ story_description }}" name="description">
    <meta content="{{ story_description }}" property="og:description">
    <meta content="{{ story_description }}" name="twitter:description">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="{{ page.image }}" property="og:image">
    <meta content="{{ page.image }}" property="twitter:image">
    <meta content="{{ page.title }} - {{ site.title }}" property="og:title">
    <meta content="{{ page.title }} - {{ site.title }}" name="twitter:title">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">
  </head>
  <body class="col-{{ page.collection }}" data-page-type="{{ page.type }}">
    <header class="story-header smol">
      <div class="story-meta">
        <a href="/" aria-label="Home">&leftarrow;</a>
        <h1 class="normal-heading">
          {{ page.title }}, {{ page.date | date: "%Y/%m/%d %H:%M" }}
        </h1>
        <open-heart class="text-open-heart monospace" href="https://site.bazinga.ink/like?id={{ page.url }}" emoji="❤️" aria-labelledby="like-prompt">
          (<span class="on">Liked ♥︎.</span><span class="off">Like?</span>)
        </open-heart>
      </div>
      <div id="description">
        {{ page.caption }}
      </div>
    </header>
    <main>
      {% if page.video %}
        <video height="100%" src="{{ page.video }}" poster='{{ page.image }}' aria-describedby="description" muted autoplay controls playsinline><!-- tracks --></video>
      {% else %}
        <img src="{{ page.image }}" alt="{{ page.alt }}" class="story-image">
      {% endif %}
    </main>

    <script defer type="module" src="/assets/vendor/open-heart-element-{{ site.data.vendor_versions.open_heart_element }}.js"></script>
  </body>
</html>
